.searchLine{
    height: 70px;
    width: 100%;
    padding: 80px 0% 100px 0%;
    margin: auto auto;
}

.movContainer{
    width: 90%;
    margin-left: 10%;
    height: 100%;
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 80px;
    grid-template-columns: 30% 30% 30%;
    color: rgb(183, 206, 235);
}
.searchLine input{
    width: 55%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgb(183, 206, 235);
    margin-left: 15%;
}
.searchLine button{
    background-color: rgb(196, 219, 248);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 12px 0px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 5%;
    cursor: pointer;
    transition:  background-color 1000ms;
}
.searchLine button:hover{
    background-color: rgb(142, 163, 189);
    transition: all 1000ms;
}
.movie{
    min-width: 300px;
    overflow: hidden;
    
}
.photo{
    /* width: 100%;
    height: 75%;
    transition: all 600ms; */
    box-shadow: 14px 15px 35px -15px rgba(0,0,0,0.75);
}

.title{
    max-width: 300px;
    height: 25%;
    color: rgb(183, 206, 235);
    padding-left: 10px;
    transition: all 600ms;
}
.load{
    color: rgb(183, 206, 235);
    width: 100%;
    text-align: center;
    transition: all 500ms;
    margin-top: 80px;
    font-size: 50px;
}

.error{
    width: 100%;
}
.title h1{
    margin: 0;
    text-align: left;
    margin-left: 10px;
    
}

/* .movie:hover .title{
    margin-top: -10%;
    height: 36%;
    transition: all 600ms;
}

.movie:hover .photo{
    box-shadow: inset 0px 0px 60px 20px rgba(255, 255, 255, 0.288);
    transition: all 600ms;
} */


@media screen and (max-width: 1200px) {
    .movContainer{
        grid-template-columns: auto auto ;
    }

    
}
@media screen and (max-width: 966px) {

    .searchLine button{
        font-size: 12px;
        padding: 14px 0px;
    }
    
}